/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  height: 100%;
  background-image: url("../raw/new-site/background.png");
  background-size: cover;
  overflow: hidden;  
}


.yellow-text {
  color: yellow !important;
  font-weight: bold !important;
}
.white-text {
  color: white !important;
  font-weight: bold !important;
}


.navbar {
  padding-left: 0;
  padding-right: 0;
}

#content {
  margin-left: 20px;
}
#navbarList li {
  margin-right: 20px;
}
.game-image{
  	width: 140px;
  	margin: 50px;
  	border-radius: 20px;
  }


#questionGame {
  visibility: hidden;
  left: 20%;
  right: 20%;
}
#leaderboardContainer {
  margin-top: 100px;
}
#prizeContainer {
  margin-top: 60px;
  font-style: italic;
}
#instructionContainer {
  margin-top: 50px;
  font-size: 32px;
  font-style: italic;
}
#cardGameNext {
  opacity: 0.2;
}
#questionGameNext {
  opacity: 0.2;
}

.questionButton {
  border: 5px solid white;
  border-radius: 20px;
}
.myImg {
  margin-bottom: 10px;
}
.gameImg {
  margin-bottom: 10px;
/*  border: 4px solid white;*/
  border-radius: 20px;
  height: 150px;
}

	.prize-img{
		max-width: 100%;
	}

	.prize-row{
		margin-left: 100px
	}

.prize-img-runnerup{
		width: 390px;
		margin-left: -90px
	}

.fixed-top.scrolled {
  background-image: url("../raw/new-site/navbar-bg.png");
  transition: background-color 200ms linear;
}

.thirdwinner{
		width: 230px;
	}
/* RESPONSIVE STYLING  */
@media (max-width: 1000px) {
  /* NAVBAR STYLING */

  .navbar {
  padding-left: 0;
  padding-right: 0;
}


  .navbar-collapse {
    padding: 0 1rem;
  }
  .navbar-nav {
  height: 100vh !important;
}

  .navbar-dark .navbar-collapse{
background-image: url("../raw/new-site/navbar-bg.png")!important;
}

  body {
    overflow-y: scroll;
    background-image: url("../raw/new-site/background.png");
  }

  #navbarList li {
    border-bottom: 2px solid white;
    padding: 5px;
  }
  #navbarsExampleDefault {
    background-color: rgba(29 30 39 / 93%);
  }
  #Navbarcontent {
    margin-left: 0;
  }
  body {
    overflow-y: scroll;
    background-image: url("../raw/new-site/background.png");
  }
  #game {
    margin-top: 0;
  }
  #leaderboardContainer {
    margin-top: 0;
  }
  #prizeContainer {
    margin-top: 0;
  }
  #instructionContainer {
    margin-top: 0;
  }
  #instruction {
    font-size: 16px;
  }
  #question {
    font-size: 14px;
  }


	.prize-img{
		width: 190px
	}

	.prize-img-runnerup{
		width: 290px
	}
.game-image{
  	width: 162px;
  	border-radius: 20px;
  	/*margin: 10px;*/

  }

}

@media (max-width: 760px) {
  /* NAVBAR STYLING */

  .navbar {
  padding-left: 0;
  padding-right: 0;
}

  .navbar-collapse {
    padding: 0 1rem;
  }
  .navbar-nav {
  height: 100vh !important;
}

  #navbarList li {
    border-bottom: 2px solid white;
    padding: 5px;
  }
  #navbarsExampleDefault {
    background-color: rgba(29 30 39 / 93%);
  }
  #Navbarcontent {
    margin-left: 0;
  }

  /* BODY STYLING */
  body {
    overflow-y: scroll;
    background-image: url("../raw/new-site/background.png");
  }
  #instruction {
    font-size: 16px;
  }
  #question {
    font-size: 16px;
  }
  #game {
    margin-top: 0;
  }
  #leaderboardContainer {
    margin-top: 0;
  }
  #prizeContainer {
    margin-top: 0;
  }
  #instructionContainer {
    margin-top: 0;
  }

  .game-image{
  	width: 142px;
  	border-radius: 20px;
  	/*margin: 10px;*/

  }

	.prize-img{
		width: 190px;
		margin-top: -40px
	}

	.prize-img-runnerup{
		width: 190px
	}

	.prize-row{
		margin-left: 0px
	}

	.consolation{
		margin-left: -40px
	}

	.thirdwinner{
		width: 142px;
	}

}